<!--Copyright 2017, Jimmy Alford, All rights reserved.-->

<!DOCTYPE html>

<head>

		<title>Track</title>
        <link rel="icon" href="../images/runShoe.png">
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="stylesheet" type="text/css" href="/css/normalize.css">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600,700|Source+Sans+Pro:300" rel="stylesheet">

</head>

<body id="body">
    <div id="holder">
        <div id="title">Track</div>
    </div>
    <div id="line"></div>

<!-- Table taken from https://www.sanwebe.com/2014/08/css-html-forms-designs -->
    <div class="form-style-5">
        <form>
        <!-- Part 1 -->
        <fieldset>
        <legend><span class="number">1</span> <p style="display:inline">Run for: </p><p id="demo" style="display:inline"></p></legend>
        <input type="miles" name="field1" placeholder="How many miles?">
        <!-- <input type="type" name="field2" placeholder="Type of run"> -->
        <select id = "runType" name="field2" placeholder="Type of run">
            <option selected="selected" class="placeholder">Type of run</option>
            <option value="Easy">Easy</option>
            <option value="Long Run">Long Run</option>
            <option value="Tempo">Tempo</option>
            <option value="Fartlek">Fartlek</option>
            <option value="Speed Workout">Speed Workout</option>
          </select>
        <input type="pace" name="field2" placeholder="Pace">
        <textarea id="details" name="field3" placeholder="Details"></textarea>
        <div id="weather_input">
            <input id="temp" type="temp" name="field1" placeholder="Temperature">
            <input id="humidity" type="humidity" name="field2" placeholder="Humidity">
            <input id="current_weather" type="button" name="vehicle" value="Use current weather?">
            <div id="loader"></div>
        </div>
        </fieldset>

        <!-- Part 2 -->
        <input id="submit" type="button" value="Apply" />
        <p id="warning">You did not input any values</p>
        </form>
    </div>
<!-- End of Table -->
<!-- <div onClick="this.contentEditable='true';">
    lorem ipsum dolor lorem ipsum dolorlorem ipsum dolor
</div> -->

<div class="container"> 
    <p id="date_header">Run for: 07/08/2017 
        <a href="#" onClick="return false;"> 
            <img id="edit_icon" src="../images/edit_icon.png" alt="Edit"> 
        </a> 
    </p> 

    <p class ="stat_title">Miles: 
        <p>5.6</p> 
    </p> 
    <p class ="stat_title">Type: 
        <p>Tempo</p> 
    </p> 
    <p class ="stat_title">Pace: 
        <p>6:24</p> 
    </p>

    <p id="details_header">Additional Details</p> 

    <p class="add_title">Temperature: 
        <p class="info">74 &#xb0;</p> 
    </p> 
    <p class="add_title">Humidity:
        <p class="info">36% </p>
    </p>
    <p id="block"></p>
    <p class="add_title">Details: </p>
        <p id="description">Felt pretty good. Ran negative splits. Kness hurt a little bit but nothing too bad. od. Ran negative splits. Kness hurt a little bit but nothing too bad. od. Ran negative splits. Kness hurt a little bit but nothing too bad.s</p> 
    <div id="arrow"> 
        <a href="#" onClick="return false;">
            <img src="../images/down_arrow.png">
            <img src="../images/up_arrow.png" style="display:none">
        </a>
    </div>
</div>

<div id="weather"></div>
<button class="js-geolocation" style="display: none;">Use Your Location</button>

<!-- Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="simpleWeather/jquery.simpleWeather.js"></script>
    <script src="simpleWeather/jquery.simpleWeather.min.js"></script>
    <script src="../js/scripts.js"></script>
</body>